.link {
  color: #EEE;
  text-decoration: none;
}

.link:hover {
  color: #FFF;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: #FFF;
}

.bigBtn {
  padding: 10px 20px;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.bigBtnBlue {
  background-color: #127CC9;
  padding: 10px 20px;
  border-radius: 4px;
}

button:focus, .btn:focus {
  outline: 0;
  /* outline: 1px solid #127CC9; */
}
button:active, .btn:active {
  color: #888;
  background-color: #1d953f;
}

.transParentBtn {
  color: #FFF;
  background: transparent;
  border: none;
}