.background {
  background-color: #F5F5F5;
}

.fullWidth {
  max-width: 100%;
}

.layout {
  margin: 0 auto;
  max-width: 1100px;
  padding: 4rem 0rem 1rem;
  min-height: 100vh; /** fill screen height @2019/05/30 */
}