.greenColor {
  color: #47BA47;
}

/* interactive section @2019/01/28*/
a:hover {
  color: #47BA47;
}

a strong:hover,
a h3:hover, 
a h2:hover, 
a h1:hover {
  color: #47BA47;
}

blockquote {
  color: #000;
  border-left: 4px solid #47BA47;
  /* border-left: 4px solid #BBB; */
  padding-left: 16px;
  margin: 20px 0 20px;
  font-size: 18px;
}