
.lrcolumn {
  display: flex;
}

.lrcolumn :target::before {
  content: "";
  display: block;
  height: 80px; /* fixed header height*/
  margin: -80px 0 0; /* negative fixed header height */
}

.leftContent {
  flex: 1;
  background-color: #FFF;
  margin-top: 62px;
  height: calc(100vh - 62px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.rightContent {
  width: 300px;
  margin-top: 62px;
  height: calc(100vh - 62px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid #CCC;
}

.breadcrumb {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  margin: .2rem 0 1rem;
}

.tutTitle {
  /* font-weight: 400; */
  text-align: center;
}

.tutAuthor {
  color: #666;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: .5rem;
  text-align: center;
}

.introBlock {
  color: #444;
  padding-left: 16px;
  margin: 40px 0 40px;
}

.videoCntr {
  display: flex;
  justify-content: center;
  min-height: 300px;
}

.tutContent {
  margin: 2rem 0 4rem;
  line-height: 1.8;
}

.tutContent h3 {
  margin-top: 3rem;
}

.tutContent p > img {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.tutContent p > a[href*="javascript"] {
  cursor: default;
}

.tutContent p > a > img {
  max-width: 100%;
}

.tutContent strong > code {
  padding-left: 4px;
  padding-right: 4px;
}

.othereads h3 {
  font-size: 18px;
}

.othereads li {
  font-size: 16px;
}

.unlockgame {
  margin: 60px 0;
  width: 100%;
  /* min-height: 400px; */
}

.topline {
  display: flex;
}

.line {
  flex: 1;
}

.line span {
  display: block;
  width: 100%;
  height: 8px;
  border-bottom: 2px solid #DDD;
}

.unlockTitle {
  width: 240px;
  font-size: 14px;
  line-height: 1;
  padding-left: 8px;
  font-weight: bold;
}

.confetti {
  width: 100%;
  height: 150px;
  position: relative;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  /* background-color: #333; */
}

.welldone {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.nextstepSection {
  display: flex;
  min-height: 150px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.leftTitle {
  flex: 1;
  padding-bottom: 10px;
}

.leftTitle h3 {
  margin-bottom: 1rem;
}

.rightBtn {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-left: 1px solid #CCC;
}

/* NEXT STEP text */
.next {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.takeQuizBtn {
  font-weight: 500;
  border-radius: 0;
}

.description {
  font-size: 16px;
  color: #666;
  padding-right: 50px;
}

.headerImg {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  max-height: 180px;
  overflow: hidden;
  border-bottom: 1px solid #CCC;
}

.headerImg img {
  width: 100%;
  height: 120px;
  margin-bottom: 0;
}

.titleBG {
  padding: 6px 10px 6px 10px;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.4;
}

.stepLineCntr {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  position: relative;
}

.stepLineCntrFull {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative; 
}

.gradientBox {
  width: 100%;
  height: 40px;
  position: relative;
  top: -50px;
  /* position: fixed; */
  /* bottom: 78px; */
  background: linear-gradient(to bottom,rgba(245, 245, 245, 0),rgba(245, 245, 245, 1));
}

.endTutBtnSection {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}